@import 'listas';

@media screen and (max-width:575px){
    .carousel{
        display: none;
    } 
}

.titulo{
    background-color: nth($colores,7);
}
.borde{
    border: 1px nth($colores,2) solid;
}