.header{
    background-color: #fcf2db;
}

@media screen and (max-400){
    .buscador{
        display: none;
    }
    .logo{
        display: none;
    }
}

.boton{
    text-decoration: none;
    color: black;
}
.carta{
    border: #7ce840 2px solid;
}
.carta1{
    border: #ee6dd4 2px solid;
}
.carta2{
    border: #a04feb 2px solid;
}
.botones{
    border: black 2px solid;
    box-shadow: 3px 3px grey;
}

.titulo{
    background-color: rgba(3,13,36,0.6);
}
.borde{
    border: 1px black solid;
}