@import '../base/listas';
@import '../base/extends';

@media screen and (max-width:575px){
    .left{
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 990px){
    .left{
       display: none;
    }
}

.textarea{
    resize: none;
}
.enviar{
    color: nth($colores,11);
    background-color: nth($colores,8);
    border: none;
    border-radius: 3px; 
    padding: 2% 5%; 
    cursor: pointer;
}
.enviar:hover{
    background-color: nth($colores,9);
}

.pictureContainer{
    @extend %picture;
}
.pictureContainer img{
    transition: transform .4s ease-in-out;
}
.pictureContainer img:hover{
    transform: translate3d(0px, -240px, 0px)
}