@import '../base/listas';
@import '../base/mixin';

@media screen and (max-width:575px){
    .buscador{
        display: none;
    }
    .logo{
        display: none;
    }
}

.boton{
    text-decoration: none;
    color: nth($colores,1);
}
.carta{
   @include bordes (#7ce840, 2px, solid)
}
.carta1{
    @include bordes (#ee6dd4, 2px, solid)
}
.carta2{
    @include bordes (#a04feb, 2px, solid)
}
.botones{
    @include bordes (black, 2px, solid);
    box-shadow: 3px 3px nth($colores,6);
}